body {
    margin: 0;
    height: 100vh;
}

#root {
    height: 100%;
    background-image: url("stars.jpg");
    background-size: cover;
}

.app-shell-bar {
    align-items: space-between;
    background-color: var(--color-background-secondary);
    height: 32px;
}

.app-shell-body {
    flex: 1;
    align-items: center;
}

.app-shell-nav {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    height: unset;
}

.users-page-table {
    height: 600px;
}
