.door-focus {
    width: 520px;
    height: 280px;
}

.door-focus img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;

    mask-image: radial-gradient(
            ellipse 55% 60% at 50% 55%,
            rgba(0,0,0,1) 0%,
            rgba(0,0,0,1) 45%,
            rgba(0,0,0,0.85) 60%,
            rgba(0,0,0,0.25) 78%,
            rgba(0,0,0,0) 100%
    );

    mask-repeat: no-repeat;
    mask-size: 70% 70%;
    mask-position: center;
    mask-composite: intersect;
}