input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--color-background-primary) inset !important;
    -webkit-text-fill-color: var(--color-text) !important;
    transition: background-color 5000s ease-in-out 0s;
}

input {
    font-size: 16px;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: inherit;
    width: 100%;

    &.focus {
        color: var(--color-selected);

        &::placeholder {
            color: var(--color-selected);
        }
    }


    &.dirty {
        color: var(--color-warning);

        &::placeholder {
            color: var(--color-warning);
        }
    }

    &.invalid {
        color: var(--color-error);

        &::placeholder {
            color: var(--color-error);
        }
    }

    &::placeholder {
        color: var(--color-text);
        opacity: 1;
    }

    &[disabled]::placeholder {
        opacity: 0.5;
    }

    &[type=date] {
        &[disabled] {
            opacity: 0.5;
        }
    }
}
