hr {
    border: 0;
    border-top: 1px solid var(--color-background-secondary);
    margin: 0;
    color: var(--color-background-secondary);
    background-color: var(--color-background-secondary);
}