button {
    cursor: pointer;
    background-color: inherit;
    border: 0;
    font-size: 16px;

    color: var(--color-text);

    &.active {
        color: var(--color-selected);
    }

    &[disabled] {
        color: var(--color-background-secondary);
    }

    &.container {
        display : flex;
        align-items : center;
        justify-content : flex-start;
        gap : 5px
    }

    &.hover {
        &:not([disabled]):hover {
            background-color: var(--color-selected);
            color: var(--color-background-primary);
        }
    }
}
